
.page {
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;

  .wrapper {
    width: 75%;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;

    > .info {
      width: 75%;

      display: flex;
      flex-flow: column nowrap;
      justify-content: flex-start;
      align-items: center;

      > .order {
        > h2 {
          font-size: 2rem;
          font-family: 'RadioNewsman', sans;

          text-transform: uppercase;
          text-decoration: none;
        }

        width: 80%;
        padding: 1rem;
      }
    }
  }
}

.left {
  text-align: left;
}

.right {
  text-align: right;
}

@media (max-width: 1250px) {
  .info {
    width: 100% !important;

    > .order {
      width: 100% !important;
    }
  }
}