
.hamburger {
  display: none;
  background-color: unset;
  cursor: pointer;
  border: none;
  color: white;
  height: 3rem;
  width: 3rem;
}


@media (max-width: 800px) {
  .hamburger {
    display: block;
  }
}