
.page {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 2rem;

  h2 {
    font-size: 1.5rem;
    font-family: 'RadioNewsman', sans;

    text-decoration: none;
  }

  > .info {
    width: 50%;

    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;

    > .order {
      width: 50%;
      padding: 1rem;
    }
  }
}

@media (max-width: 800px) {
  .page {
    grid-template-columns: 1fr;
  }
}