
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');

@font-face {
  font-family: 'RadioNewsman';
  src: local('RadioNewsman'),
        url('./RadioNewsman.ttf');
}

@font-face {
  font-family: 'AnzeigenGrotesk';
  src: local('AnzeigenGrotesk'),
        url('./AnzeigenGrotesk.otf');
}